*.zip
graphics/entity/cryogenic-plant/
graphics/entity/electromagnetic-plant/
graphics/entity/foundry/
graphics/entity/frozen/
graphics/entity/turbo-splitter/
graphics/entity/turbo-transport-belt/
graphics/entity/turbo-underground-belt/

graphics/icons/cryogenic-plant.png
graphics/icons/electromagnetic-plant.png
graphics/icons/foundry.png
graphics/icons/turbo-splitter.png
graphics/icons/turbo-transport-belt.png
graphics/icons/turbo-underground-belt.png

graphics/technology/cryogenic-plant.png
graphics/technology/electromagnetic-plant.png
graphics/technology/foundry.png
graphics/technology/turbo-transport-belt.png

sound/entity/cryogenic-plant/
sound/entity/electromagnetic-plant/
sound/entity/foundry/